*{
    margin:  0;
    padding: 0;
    font-family: sans-serif;
}

.navbar{
    width: 80%;
    height: 15vh;
    display: flex;
    align-items: center;
    margin: auto;
    position: relative;
}

.icon{
    width: 35px;
    height: 35px;
    float: left;
}

.logo{
    flex-basis: 50%;
}

.name{
    font-size: 25px;
    color: black;
}

.menu{
    flex-basis: 50%;
    display: flex;
    align-items: center;
    position: relative;
}

.menu ul li{
   list-style: none;
   display: inline-block;
   margin: 0 20px;
   font-size: 18px;
   cursor: pointer;
}

.menu span{
    font-size: 25px;
    color: #3bb15e;
 }

.menu ul::after{
    content: '';
    height: 2px;
    width: 70px;
    background: black;
    position: absolute;
    left: -80px;
    top: 18px;
}

  .textbox{
    width: 100%;
    overflow: hidden;
    font-size: 45px;
    padding: 8px 0;
    margin: 8px 0;
    background-color: rgb(214, 213, 213);
    align-items: center;
    border-radius: 10px;
}

  .textbox input{
    font-size: 15px;
    width: 500px;
    top:100x;
    float: left;
    color: black;
    margin: 5px;
  }

  .style {
    border-radius: 10px;
    padding: 10px;
  }

  .textbox p{
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    
}
  
  .btn {
    letter-spacing: 1px;
    color:black !important;
    padding: 20px;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
  }

  .btn:hover {
    color: #404040 !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    background: none;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.3s ease 0s;
    }
