*{
    margin:  0;
    padding: 0;
    font-family: sans-serif;
}



.navbar{
    width: 80%;
    height: 15vh;
    display: flex;
    align-items: center;
    margin: auto;
    position: relative;
}

.icon{
    width: 35px;
    height: 35px;
    float: left;
}

.logo{
    flex-basis: 50%;
}

.name{
    font-size: 25px;
    color: black;
}

.menu{
    flex-basis: 50%;
    display: flex;
    align-items: center;
    position: relative;
}

.menu ul li{
   list-style: none;
   display: inline-block;
   margin: 0 20px;
   font-size: 18px;
   cursor: pointer;
}

.menu span{
    font-size: 25px;
    color: #3bb15e;
 }

.menu ul::after{
    content: '';
    height: 2px;
    width: 70px;
    background: black;
    position: absolute;
    left: -80px;
    top: 18px;
}

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
  }
  
  /* Columns */
   .left-column {
    position: relative;
  }

  .product{
    width: 700px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
  }

  
  .product-description {
    border-bottom: 1px solid rgb(0, 0, 0);
    margin-bottom: 10px;
  }
  
  .product-description span {
    font-size: 12px;
    color: #358ED7;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
  }
  
  .product-description h1 {
    font-size: 52px;
    color: #43484D;
    letter-spacing: -2px;
  }

  .description p {
    font-size: 20px;
    font-weight: 300;
    color: #86939E;
    line-height: 24px;
  } 
  
  .product-price span {
    font-size: 35px;
    font-weight: 300;
    color: #43474D;
    margin-right: 20px;
  } 

  .cable-config{
    font-size: 20px;
    color: #43484D;
  }

  .form-group{
      height: vh;
      display: flex;
      align-items: center;
      margin: auto;
      position: relative;
  }

  .form-group label{
    font-size: 52px;
    color: #43484D;
    letter-spacing: -2px;
    float: left;
  }

  .feedbackbox{
    width: 300px;
    border:2px solid #3bb15e;
    border-radius: 5px;
    margin: 8px 0;
    outline: none;
    box-sizing: border-box;
    transition: .3s;
    float: left;
    margin-right:2%;
    margin-left:2%;
  }

  .btn{
    width: 30%;
    color: #20bf6b !important;
   text-transform: uppercase;
   background: #ffffff;
   padding: 20px;
   border: 2px solid #20bf6b !important;
   border-radius: 6px;
   display: inline-block;
   transition: all 0.3s ease 0s;
  }

  .btn:hover {
    color: #494949 !important;
    border-radius: 50px;
    border-color: #494949 !important;
    transition: all 0.3s ease 0s;
    }

    .title{
      border-bottom: 1px solid rgb(0, 0, 0);
      margin-bottom: 10px;
    }

    .title h2{
      font-size: 45px;
      color: #43484D;
    }
    
    .feedback{
      font-size: 30px;
      color: #43474D;
      width: 300px;
      border:2px solid #868686;
      border-radius: 5px;
      margin: 8px 0;
      outline: none;
      box-sizing: border-box;
      transition: .3s;
    }


/*    
  .cart-btn {
    display: inline-block;
    background-color: #7DC855;
    border-radius: 6px;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 12px 30px;
    transition: all .5s;
  }

  .cart-btn:hover {
    background-color: #64af3d;
  }
  
   */ */
  /* Responsive
  @media (max-width: 940px) {
    .container {
      flex-direction: column;
      margin-top: 60px;
    }
   
    .left-column,
    .right-column {
      width: 100%;
    }
   
    .left-column img {
      width: 300px;
      right: 0;
      top: -65px;
      left: initial;
    }
  } */


