*{
    margin:  0;
    padding: 0;
    font-family: sans-serif;
}

.navbar{
    width: 80%;
    height: 15vh;
    display: flex;
    align-items: center;
    margin: auto;
    position: relative;
}

.icon{
    width: 35px;
    height: 35px;
    float: left;
}

.logo{
    flex-basis: 50%;
}

.name{
    font-size: 25px;
    color: black;
} 

#myInput {
    font-size: 16px; 
    border: 1px solid #ddd;
    padding: 5px 150px 5px 10px;
    border-radius:5px;
  }

.menu{
    flex-basis: 50%;
    display: flex;
    align-items: center;
    position: relative;
}

.menu ul li{
   list-style: none;
   display: inline-block;
   margin: 0 20px;
   font-size: 18px;
   cursor: pointer;
}

.menu span{
    font-size: 25px;
    color: #3bb15e;
 }

.menu ul::after{
    content: '';
    height: 2px;
    width: 70px;
    background: black;
    position: absolute;
    left: -80px;
    top: 20px;
}

.slide-container{
    width: 1200px;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    text-align: center;
}

.image-container{
    width: 4800px;
    height: 450px;
    position: relative;
    transition: left 2s;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
}

.slider-image {
    float: left;
    margin: 0px;
    padding: 0px;
}

#slider-image-1:target ~ .image-container{
    left: 0px;
}

#slider-image-2:target ~ .image-container{
    left: -1200px;
}

#slider-image-3:target ~ .image-container{
    left: -2400px;
}

#slider-image-4:target ~ .image-container{
    left: -3600px;
}

.flex-container {
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-around;
    width: 85%;
   height: 60vh;
  }
  
  .flex-item {
    background: rgb(255, 255, 255);
    padding: 5px;
    width: 350px;
    height: 700px;
    margin-top: 20px;
    line-height: 30px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 20px;
    text-align: top;
  }

  .content{
   text-align: center; 
   font-weight: bold;
   width: 80%;
   height: 15vh;
   align-items: center;
   margin: auto;
   position: relative;
}

  #more {
    display: none;
    text-align: center;
}

#more img{
    width: 150px;
    height: 120px;
    float: center;
   
}

.example_e {
    border: none;
    background: #404040;
    color: #ffffff !important;
    font-weight: 100;
    padding: 20px;
    text-transform: uppercase;
    border-radius: 5px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    }

    .example_e:hover {
        color: #404040 !important;
        font-weight: 700 !important;
        letter-spacing: 3px;
        background: none;
        -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        transition: all 0.3s ease 0s;
        }

        .Detailbtn {
            border: none;
            background: #404040;
            color: #ffffff !important;
            font-weight: 10px;
            padding: 20px;
            border-radius: 5px;
            transition: all 0.3s ease 0s;
            }
        
            .Detailbtn:hover {
                color: #404040 !important;
                font-weight: 700 !important;
                letter-spacing: 3px;
                background: none;
                -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
                -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
                transition: all 0.3s ease 0s;
                }

            