body {
    margin: 0;
    padding: 0;
    font-family:  sans-serif;
    background:  url(gaming.jpg) no-repeat center center fixed; 

    background-size: cover;
}

.login-box{
    width: 320px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    box-sizing: border-box;
}

.icon{
    width:100px;
    height: 100px;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.login-box h1{
    float:left;
    font-size: 40px;
    border-bottom: 4px solid #3bb15e;
    margin-bottom: 10px; 
}
.login-box img{
    width: 100px;
    float: left;
    }

    .textbox{
        width: 100%;
        overflow: hidden;
        font-size: 45px;
        padding: 8px 0;
        margin: 8px 0;
        border-bottom: 3px solid #3bb15e;
    }
    .textbox img{
    width: 26px;
    float: left;
    }
    
    .textbox input{
        border: none;
        outline: none;
        background: none;
        color: black;
        font-size: 18px;
        width: 200px;
        float: left;
        margin:5px;
    }
    div {
        border-radius: 5px;
        background-color: white;
        padding: 20px;
      }

      .btn{
        margin: 12px 0;
        border: 2px solid #3bb15e;
        background: none;
        color: black;
        font-size: 18px;
        width: 100%;
        padding: 5px;
        cursor: pointer;
    }
    
    .login-box a{
        text-decoration: none;
        font-size: 18px;
        width: 100%;
        color: black;
    }
    
    .textbox p{
        font-size: 15px;
        font-weight: bold;
<<<<<<< HEAD
    }
=======
    }

>>>>>>> design
